h1
{
    font-family: 'Bebas Neue';
    font-size: 76px;
    font-weight: 400;
    font-style: normal;

    margin-top: 0;
    margin-bottom: 0;

    letter-spacing: .07em;

    -webkit-text-stroke: 1px var(--color-white);
    -webkit-text-fill-color: rgba(0,0,0,0);
}

h2
{
    font-family: 'Bebas Neue';
    font-size: 96px;
    font-weight: 100;

    margin-top: 0;
    margin-bottom: 20px;

    letter-spacing: 3px;

    color: var(--color-white);
}

h3
{
    font-family: 'Oswald';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;

    letter-spacing: 0.07em;

 

}

h4
{
    font-family: 'Bebas Neue';
    font-size: 76px;
    font-weight: 400;
    font-style: normal;

    margin-top: 0;
    margin-bottom: 0;

    letter-spacing: .07em;

    -webkit-text-stroke: 1px var(--color-pink);
    -webkit-text-fill-color: rgba(0,0,0,0);
}

h5
{
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: lighter;

    margin-top: -16px;
    margin-bottom: -4px;

    letter-spacing: 1px;

    color: #afafaf;
}

h6
{
    font-family: 'Oswald';
    font-size: 18px;
    font-weight: bolder;

    margin-top: 0;
    margin-bottom: 0;
}






.wrapper
{
    display: flex;
    flex-direction: column;

    width: 88%;
    max-width: 1680px;
    height: 100%;

    background: var(--color-darkblue);

    align-items: center;
    justify-items: center;
}




body
{
    display: flex;

    width: 100%;
    margin: 0;

    background: var(--color-darkblue);

    justify-content: center;
}

img
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;

    -webkit-touch-callout: none;
}






::selection
{
    background-color: var(--color-pink);
}
::-moz-selection
{
    background-color: var(--color-pink);
}




#form{
    max-width: 642px;
    height: 745px;
    max-height: 745px;
    outline: 3px solid var(--color-white);
}

.input{
    color: var(--color-pink);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

input, textarea{
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;

}

input, textarea{
    width: 442px;

}



.form_content{
    max-width: 482px;
    position: relative; top: 40px; left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
}


.logo
{
    width: 320px;
    height: 48px;

    transition-timing-function: linear;
    transition-duration: .3s;
    transition-property: fill;

    fill: var(--color-white);
}

.logo:hover
{
    transition-timing-function: linear;
    transition-duration: .3s;
    transition-property: fill, filter;
    fill: var(--color-pink);
    filter: drop-shadow(0 0 16px var(--color-pink));
}

.logo:active
{
    transition-timing-function: linear;
    transition-duration: .3s;
    transition-property: fill, filter;
    fill: var(--color-pink);
    filter: drop-shadow(0 0 16px var(--color-pink));
}

.logo:focus
{
    transition-timing-function: linear;
    transition-duration: .3s;
    transition-property: fill, filter;

    fill: var(--color-white);
}

.icons
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: fill, filter, transform;

    fill: var(--color-white);
}


.icons:hover
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: fill, filter, transform;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);

    fill: var(--color-pink);
    filter: drop-shadow(0 0 16px var(--color-pink));
}

.icons:active
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: fill, filter, transform;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    fill: var(--color-pink);
    filter: drop-shadow(0 0 16px var(--color-pink));
}



.btn
{
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    flex-direction: row;

    width: 136px;
    height: 48px;

    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: color, filter, background;
    text-decoration: none;

    color: var(--color-darkblue);
    background: var(--color-white);

    -ms-align-items: center;
        align-items: center;
    justify-content: center;
}


.btn > h6
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
}

.btn:hover
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: color, filter, background;

    color: var(--color-white);
    background: var(--color-pink);

    filter: drop-shadow(0 0 8px var(--color-pink));
}

.btn:active
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: color, filter, background;

    color: var(--color-white);
    background: var(--color-pink);

    filter: drop-shadow(0 0 8px var(--color-pink));
}

.dropdown
{
    display: flex;
    flex-direction: column;

    -webkit-transition: .5s ease;
            transition: .5s ease;

    justify-content: center;
    align-items: center;
}

.dropdown:hover
{
    -webkit-transition: .5s ease;
            transition: .5s ease;
}




#arrow
{
    position: relative;
    top: 0;

    display: none;

    width: 22px;
    height: 8px;

    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: background-image;

    background-image: url(content/arrow.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#arrow:hover
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: background-image;
}

.dropdown-content
{
    position: relative;
    z-index: 1;
    top: 0;

    display: none;

    width: 64px;

    -webkit-transition: .5s ease;
            transition: .5s ease;

    outline: 1px solid var(--color-white);
    background-color: var(--color-darkblue);
}


.dropdown-content:first-child
{
    cursor: none;
    color: var(--color-darkblue);
}

svg
{
    display: block;
}

#buttonicon:active .dropdown-content
{
    display: block;
}
#buttonicon:active #arrow
{
    display: block;
}
#buttonicon:focus .dropdown-content
{
    display: block;
}
#buttonicon:focus #arrow
{
    display: block;
}

#lang
{
    cursor: pointer;
}


#buttonicon:focus #lang
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: fill, filter, transform;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    fill: var(--color-pink);
    filter: drop-shadow(0 0 16px var(--color-pink));
}

#buttonicon:active #lang
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: fill, filter, transform;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    fill: var(--color-pink);
    filter: drop-shadow(0 0 16px var(--color-pink));
}


#buttonicon
{
    padding: 0;

    border: 0;
    background: transparent;
}

.dropdown-content:hover
{
    -webkit-transition: .5s ease;
            transition: .5s ease;
}

.dropdown-content a
{
    display: block;

    padding: 10px 20px;

    -webkit-transition: .5s ease;
            transition: .5s ease;
    text-align: center;
    text-decoration: none;

    color: var(--color-white);
}

.dropdown-content a:hover
{
    -webkit-transition: .5s ease;
            transition: .5s ease;

    color: var(--color-darkblue);
    background: var(--color-pink);
}


.dropdown:hover .btn
{
    -webkit-transition: .5s ease;
            transition: 500ms;

    color: var(--color-white);
    background: var(--color-pink);
}

.dropdown:hover #lang
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: fill, filter, transform;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    fill: var(--color-pink);
    filter: drop-shadow(0 0 16px var(--color-pink));
}

#arrow:hover #lang
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: fill, filter, transform;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    fill: var(--color-pink);
    filter: drop-shadow(0 0 16px var(--color-pink));
}


footer
{
    position: relative;
    top: 0;
    right: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 120px;

    pointer-events: none;

    border-top: 1px solid var(--color-white);

    justify-content: center;
}

footer .container
{
    display: flex;

    width: 100%;
    max-width: 1680px;
    height: 100%;

    align-items: center;
    justify-items: center;
}

header
{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;

    display: flex;

    width: 100%;

    background-color: var(--color-darkblue);

    justify-content: center;
}


header .container
{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1680px;
    height: 100%;
    padding-top: 36px;
    padding-bottom: 36px;

    border-bottom: 1px solid var(--color-white);

    justify-content: center;
    gap: 36px;
}


.container
{
    width: 100%;
    max-width: 1680px;
}

.cont
{
    display: flex;
    flex-direction: row;

    padding: 0;

    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 24px;
}

ul
{
    list-style-image: url(content/star_mini.svg);
}

html
{
    scroll-behavior: smooth;
}

main
{
    position: relative;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100%;

    justify-content: center;
}


.contain
{
    position: relative;
    top: 0;

    display: flex;

    width: 100%;
    margin-bottom: 120px;
}

.star_0
{
    position: relative;

    width: 100%;
    max-width: 675px;
    height: 0;
    padding-bottom: 100%;

    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: background-image;

    background-image: url(content/star.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.star_0:hover
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: background-image;

    background-image: url(content/star_1.svg);
}

.univ
{
    width: 100%;
    max-width: 792px;
    height: 534px;
    max-height: 534px;

    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: background-image;

    background-image: url(content/univ.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.univ:hover
{
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: background-image;

    background-image: url(content/univ_2.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.project_1
{
    max-width: 536px;
    width: 100%;

    position: absolute;
    display: block;

}

.project_1_1
{
    position: relative;
    top: 0;


    display: block;

    width: 100%;


    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.div_proj_1
{
    
    padding-bottom: 0;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: opacity;
}

.div_proj_2
{
    
    
    border: 1px solid var(--color-white);

    transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-property: opacity;

    opacity: 0;
}



.div_proj_1:hover .div_proj_2
{
    transition-timing-function: linear;
    transition-duration: .3s;
    transition-property: opacity;

    opacity: 1;

}

.div_proj_1:hover .project_1
{
    transition-timing-function: linear;
    transition-duration: .3s;
    transition-property: opacity;

    opacity: 0;

}

.c
{
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-bottom: 0;

    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}


/*
.contain_portfolio:first-child{
      margin-left: -15px;
 }
*/

.contain_portfolio
{
    width: 536px;
    height: 50%;
}


.btn2
{
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;

    width: 100px;
    height: 48px;

    -webkit-transition: .3s ease;
            transition: .3s ease;
    text-decoration: none;

    color: var(--color-white);
    border: 1px solid var(--color-white);

    -ms-align-items: center;
        align-items: center;
    justify-content: center;
    justify-items: center;
}

.btn2 > h6
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
}

.btn2:hover
{
    transition: 300ms;

    color: var(--color-darkblue);
    background: var(--color-white);
}


.cc
{
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 0;
    padding-bottom: 10px;

    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
}

.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 24px;
    align-items: center;
    word-wrap: break-word;
}

.services h1{
    word-wrap: break-word;
    transition: linear .3s;
}


.hrd_skls
{
    width: 196px;
    height: 196px;

    transition-timing-function: linear;
    transition-duration: .3s;
    transition-property: background-image;

    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hrd_skls:hover
{
    transition-timing-function: linear;
    transition-duration: .3s;
    transition-property: background-image;

    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#s1
{
    background-image: url(content/hrd_skls/01/ps.svg);
}


#s1:hover
{
    background-image: url(content/hrd_skls/02/ps.svg);
}

#s2
{
    background-image: url(content/hrd_skls/01/fig.svg);
}

#s2:hover
{
    background-image: url(content/hrd_skls/02/fig.svg);
}

#s3
{
    background-image: url(content/hrd_skls/01/ai.svg);
}

#s3:hover
{
    background-image: url(content/hrd_skls/02/ai.svg);
}

#s4
{
    background-image: url(content/hrd_skls/01/ae.svg);
}

#s4:hover
{
    background-image: url(content/hrd_skls/02/ae.svg);
}

#s5
{
    background-image: url(content/hrd_skls/01/bdr.svg);
}

#s5:hover
{
    background-image: url(content/hrd_skls/02/bdr.svg);
}

#s6
{
    background-image: url(content/hrd_skls/01/cu.svg);
}

#s6:hover
{
    background-image: url(content/hrd_skls/02/cu.svg);
}

#s7
{
    background-image: url(content/hrd_skls/01/mir.svg);
}

#s7:hover
{
    background-image: url(content/hrd_skls/02/mir.svg);
}

#s8
{
    background-image: url(content/hrd_skls/01/html.svg);
}

#s8:hover
{
    background-image: url(content/hrd_skls/02/html.svg);
}

#s9
{
    background-image: url(content/hrd_skls/01/css.svg);
}

#s9:hover
{
    background-image: url(content/hrd_skls/02/css.svg);
}

#s9_1
{
    background-image: url(content/hrd_skls/01/tld.svg);
}

#s9_1:hover
{
    background-image: url(content/hrd_skls/02/tld.svg);
}

#s10
{
    background-image: url(content/hrd_skls/01/word.svg);
}

#s10:hover
{
    background-image: url(content/hrd_skls/02/word.svg);
}

#s11
{
    background-image: url(content/hrd_skls/01/excel.svg);
}

#s11:hover
{
    background-image: url(content/hrd_skls/02/excel.svg);
}

#s12
{
    background-image: url(content/hrd_skls/01/pp.svg);
}

#s12:hover
{
    background-image: url(content/hrd_skls/02/pp.svg);
}

#s13
{
    background-image: url(content/hrd_skls/01/ac.svg);
}

#s13:hover
{
    background-image: url(content/hrd_skls/02/ac.svg);
}

#s14
{
    background-image: url(content/hrd_skls/01/c.svg);
}

#s14:hover
{
    background-image: url(content/hrd_skls/02/c.svg);
}

#s15
{
    background-image: url(content/hrd_skls/01/1c.svg);
}

#s15:hover
{
    background-image: url(content/hrd_skls/02/1c.svg);
}


.contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.contacts > a:hover h1{
    font-family: 'Bebas Neue';
    font-size: 76px;
    font-weight: 400;
    font-style: normal;

    margin-top: 0;
    margin-bottom: 0;

    letter-spacing: .07em;

    -webkit-text-stroke: 1px var(--color-pink);
    -webkit-text-fill-color: rgba(0,0,0,0);
    transition: linear .3s;

}

.contacts > a{
    text-decoration: none;
    transition: linear .3s;
    width: 100%;
}



header
{
    z-index: 8;
}
footer
{
    z-index: 6;
}



@media (max-width: 765px) {
    .wrapper{
        width: 94%;
        }
     {
        font-size: ;
    }
}



